<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-alex">

    <header class="masthead">
      <div class="masthead-inner">
			 <div class="img-circular"></div>
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
             <li>
              <a href="/">About</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/research/">Research</a>
            </li>
            <li>
              <a href="/CV/">CV</a>
            </li>
            <li>
              <a href="/publications/">Publications</a>
            </li>
            <li>
              <a href="/software/">Software</a>
            </li>
            <li>
              <a href="/teaching/">Teaching</a>
            </li>
            <li>
              <a href="/contact/">Contact</a>
            </li>
          </ul>
          <!-- social media, code repo links, requires link to font awesome stylesheet in _includes/head.html  -->
          <a href="https://github.com/pboesu">
            <i class="fa-brands fa-github fa-lg"></i>
          </a>
          <a href="https://ecoevo.social/@pboesu">
            <i class="fa-brands fa-mastodon fa-lg"></i>
          </a>
	   <a href="https://ebird.org/profile/ODM4NDg5/world">
	      <i class="fa-solid fa-binoculars fa-lg"></i>
           </a> 
          </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
      <HR>
    </div>


</body>

</html>
