---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.submenu %}
              
          {% for item in page.submenu %}
              {% if item.hook %}
              <a href="#{{ item.hook }}">{{ item.title }}</a>&nbsp;&nbsp;
              {% endif %}
              {% if item.href %}
              <a href="#{{ item.hook }}">{{ item.title }}</a>&nbsp;&nbsp;
              {% endif %}
          {% endfor %}
        
{% endif %}
  {{ content }}
</div>
