---
layout: default
---

<div class="post">
  <h2>{{ page.title }}</h2>
      <span class="post-date">
    <i class="fa fa-calendar"></i> {{ page.date | date_to_string }}
    &nbsp;&nbsp;<i class="fa fa-user"></i> {{ page.author }}
    &nbsp;&nbsp;<i class="fa fa-tags"></i> {% for tags in page.tags %} {{ tags }} {% if forloop.last != true %} {% endif %} {% endfor %}
    
    &nbsp;&nbsp;<i class="fa fa-twitter"></i> <a href="https://twitter.com/share?url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&text={{ page.title }}" target="_blank">Tweet this!</a>
</span>
  {{ content }}
</div>